.chat-area {
    //TEMP BORDER TO VISUALIZE AREA
    border: 2px solid rgba(0, 0, 0, 0.349);
    margin-left: 23rem;
    margin-right: 2.5rem;
    margin-top: 1.5rem;
    height: 82.5vh;
    .input-area {}
}