.chat-area {
    //TEMP BORDER TO VISUALIZE AREA
    // border: 2px solid rgba(0, 0, 0, 0.349);
    $scrollForeground: rgb(110, 110, 110);
    $scrollBackground: transparent;
    margin-left: 23rem;
    margin-right: 2.5rem;
    margin-top: 1.5rem;
    height: 82.5vh;
    position: relative;
    overflow: hidden;
    $size: 10px;
    $foreground-color: rgb(189, 189, 189);
    $foreground-color-hover: rgb(170, 170, 170);
    $background-color: transparent;
    *::-webkit-scrollbar {
        width: $size;
        height: auto;
        background-color: $background-color;
    }
    *::-webkit-scrollbar-thumb {
        background-color: $foreground-color;
        border-radius: 10px;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: $foreground-color-hover;
        border-radius: 10px;
    }
    .input-area {
        position: absolute;
        bottom: 0.5rem;
        left: calc(50% - 32vw);
        .input-bar * {
            overflow: hidden;
        }
        .send {
            position: relative;
            top: 0.6rem;
            right: 3.5rem;
            cursor: default !important;
            background-color: transparent;
            img {
                width: 2rem;
                height: 2rem;
            }
            img:hover {
                cursor: pointer;
            }
        }
        .message-input {
            padding: 20px;
            font-size: 1.15rem;
            height: 3rem;
            width: 45vw;
            border: 4px solid black;
            border-radius: 100px;
        }
    }
    .messages {
        overflow: auto;
        height: calc(100% - 3.5rem);
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 10px;
        .message-container {
            overflow: visible;
            margin-right: auto;
            .sender-container {
                display: flex;
            }
            .sender {
                margin: 0 0.25rem;
                color: #000000d2;
            }
            .message {
                padding: 8.5px;
                margin: 0.25rem 0;
                background-color: rgba(0, 0, 0, 0.185);
                border-radius: 10px;
                min-width: fit-content;
                width: auto;
                overflow: visible;
            }
        }
        .myMsg {
            margin-left: auto;
            margin-right: 0px;
            .message {
                background-color: #C0E8FF;
                opacity: 85%;
                margin-left: auto;
                text-align: right;
            }
            .sender {
                margin-left: auto;
            }
        }
    }
}